
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>What we are and what Apex does?</h1>
      <h5 class="w3-padding-32">Apex Financial Technology Limited is a UK based startup building market risk management, pricing and reporting systems. Our flagship system is called APEX and is targeted to corporate treasury and risk managers.</h5>

      <p class="w3-text-grey">APEX stores all forex, commodity and interest rate trades executed by the company in one place. APEX can price all derivative structures from linear swaps and forwards, vanilla options, option strategies and exotic options. There is a scenario planning module which allows the user to stress the trade, or portfolio of trades, to underlying price and volatility moves. All market data is downloaded and stored in the system. Reporting modules allows customized, complex and multi-dimensional reports to be generated. APEX is a complete trade management system for treasury departments.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-area-chart w3-padding-64 apex_chart_color"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Apex Hiring Platform</h1>
      <h5 class="w3-padding-16">Register yourself to take the test and be a member of Apex Family.</h5>

      <!-- <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p> -->
    </div>
    <div class="w3-third w3-center">
      <!-- <a class="w3-padding-large sign_apex " style="color: #22A7D3;" href="/signup">Register</a> -->
      <!-- <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i> -->
    </div>
  </div>
</div>

